body {
  font-size: 16px;
  font-family: Oxygen;
  color: #1a1a1a;
  background-color: #e1b382;
}

#headernav {
  background-color: #2d545e;
  border-radius: 0;
  border: 0;
}

#headernav button {
    margin-top: 10px;
    background-color: #e1b382;
}

.navbar-brand {
  padding-top: 20px;
}

.navbar-brand h1 {
  font-family: Lora;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}

#nav-list a {
  color: black;
  text-align: center;
}

#nav-list a:hover {
  background: #e1b382;
}

#nav-list a span {
  font-size: 1.4em;
}

.navbar button.navbar-toggler, .navbar button.navbar-toggler-icon {
  border: 1px solid #61122f;
}

#content {
	width: 90%;
    bottom: 20px;
}

#content h2 {
	font-size: 2.5em;
	font-weight: bold;
	margin-top: 30px;
	margin-bottom: 20px;
	text-align: center;
}

#content h3 {
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 5px;
	text-align: center;
}

#section {
    background-color: #DCDCDC;
    box-shadow: 0 0 50px #0f5900;
    padding: 30px;
    text-align: left;
}


